FIRESTORE_PROJECT_ID=your-project-id
FIRESTORE_KEY_FILE=/absolute/path/to/service-account.json
FIRESTORE_PREFIX=ahp_
APP_URL=http://localhost:8000
APP_DEBUG=true
ADMIN_DEFAULT_USER=admin
ADMIN_DEFAULT_PASS=admin123
EMP_DEFAULT_USER=pegawai
EMP_DEFAULT_PASS=pegawai123
